Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^www\.mrdrives\.com\.br$ [NC]
    RewriteRule ^ https://mrdrives.com.br%{REQUEST_URI} [R=301,L,NE]

    RewriteRule ^admin/?$ admin/index.php [L]
    RewriteRule ^admin/(.*)$ admin/$1 [L]

    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule ^(.+)$ public/$1 [L]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>
